@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@500&family=Roboto+Serif&display=swap');

$gray: #202020;
$darkGray: #181818;
$pink: #b392bd;
$title-1: 20px;
$title-2: 70px;
$title-3: 120px;
$icon: 90px;
$made-by: 16px;

.wrapper {
  background-color: $gray;
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: 1s 1 normal ease-in 15s shake;
}

.wrapper::-webkit-scrollbar {
  display: none;
}

.background {
  background-color: $darkGray;
  overflow: visible;
  height: 100%;
  animation: .01s 10 normal ease-in 13s shake;
}

.app {
  color: $pink;
  background-color: $darkGray;
  width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: 'Lato', sans-serif;
  transform-origin: top;
  animation: .005s 30 normal ease-in 10s shake;
  z-index: 0;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 80px 0 40px 0;
  font-family: 'Montserrat', sans-serif;
}

.title-1 {
  font-size: $title-1;
  margin-bottom: 7%;
  animation: 4s 1 normal ease-in forwards .5s fade;
  opacity: 0;
}

.title-2 {
  font-size: $title-2;
  margin-bottom: 3%;
  animation: 6s 1 normal ease-in forwards 2s fade;
  opacity: 0;
}

.title-3 {
  font-size: $title-3;
  animation: 8s 1 normal ease-in forwards 4s fade;
  opacity: 0;
}

.logo {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  animation: 6s 1 normal ease-in forwards 6s fade;
  opacity: 0;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $pink;
  margin-bottom: 140px;
  animation: .001s 20 normal ease-in 20s shake;
}

.content-title {
  font-size: $title-1;
  margin-bottom: 64px;
  font-style: italic;
  animation: 7s 1 normal ease-in forwards 7s fade;
  opacity: 0;
}

.content-selection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  animation: 8s 1 normal ease-in forwards 8s fade-in;
  opacity: 0;
}

.content-option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 30% 0 30%;
  background-color: $gray;
  padding: 10%;
  align-items: center;
}

.chrome-icon, .firefox-icon {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: $icon;
  margin-bottom: 20%;
  color: $pink;
  animation: .001s 20 normal ease-in 30s shake;
}

.content-text {
  font-size: $title-1;
  padding: 10%;
  color: $pink;
}

.made-by {
  padding-bottom: 80px;
  font-size: $made-by;
  font-weight: 100;
  color: $pink;
  animation: 9s 1 normal ease-in forwards 9s fade;
  opacity: 0;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-16px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes shake {
  from {
    transform: translateY(-20px);
  }
  to {
    transform: translateY(0);
  }
}