$gray: #202020;
$darkGray: #181818;
$pink: #b392bd;
$title-1: 20px;
$title-2: 70px;
$title-3: 120px;
$icon: 90px;
$made-by: 16px;

.wrapper {
  background-color: $gray;
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  scroll-behavior: smooth;
  scroll-padding-block-start: 100vh;
  scroll-padding-block-end: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper::-webkit-scrollbar {
  display: none;
}

.background {
  background-color: $darkGray;
  overflow: visible;
  height: 100%;
}

.app {
  color: $pink;
  background-color: $darkGray;
  width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: sans-serif;
  transform-origin: top;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 80px 0 40px 0;
}

.title-1 {
  font-size: $title-1;
  margin-bottom: 7%;
}

.title-2 {
  font-size: $title-2;
  margin-bottom: 3%;
}

.title-3 {
  font-size: $title-3;
}

.logo {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $pink;
  margin-bottom: 140px;
}

.content-title {
  font-size: $title-1;
  margin-bottom: 64px;
  font-style: italic;
}

.content-selection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.content-option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 30% 0 30%;
  background-color: $gray;
  padding: 10%;
  align-items: center;
}

.chrome-icon, .firefox-icon {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: $icon;
  margin-bottom: 20%;
  color: $pink;
}

.content-text {
  font-size: $title-1;
  padding: 10%;
  color: $pink;
}

.made-by {
  padding-bottom: 80px;
  font-size: $made-by;
  font-weight: 100;
  color: $pink;
}
