@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@500&family=Roboto+Serif&display=swap');

$gray: #202020;
$darkGray: #181818;
$pink: #b392bd;
$title-1: 15px;
$title-2: 60px;
$title-3: 100px;
$icon: 90px;
$made-by: 16px;

body {
  overflow: hidden;
}

a {
  color: $pink;
  text-decoration: none;
}

.wrapper {
  background-color: $gray;
  position: fixed;
  width: 100vw;
  height: 100vh;
  height: -webkit-fill-available;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper::-webkit-scrollbar {
  display: none;
}

.background {
  background-color: $darkGray;
  overflow: visible;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app {
  color: $pink;
  background-color: $darkGray;
  width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: 'Lato', sans-serif;
  transform-origin: top;
  z-index: 0;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 80px 0 60px 0;
  font-family: 'Montserrat', sans-serif;
}

.title-1 {
  font-size: $title-1;
  margin-bottom: 25px;
  animation: 4s 1 normal ease-in forwards .5s fade;
  opacity: 0;
}

.title-2 {
  font-size: $title-2;
  margin-bottom: 10px;
  animation: 6s 1 normal ease-in forwards 1s fade;
  opacity: 0;
}

.title-3 {
  font-size: $title-3;
  animation: 8s 1 normal ease-in forwards 2s fade;
  opacity: 0;
}

.logo {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  animation: 2s 1 normal ease-in forwards 4s fade;
  opacity: 0;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $pink;
  margin-bottom: 140px;
}

.content-title {
  font-size: $title-1;
  margin-bottom: 64px;
  font-style: italic;
  animation: 2s 1 normal ease-in forwards 4.5s fade;
  opacity: 0;
}

.content-selection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  animation: 2s 1 normal ease-in forwards 5s fade-in;
  opacity: 0;
}

.content-option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 40px 0 40px;
  background-color: $gray;
  padding: 20px;
  align-items: center;
  animation: .001s 20 normal ease-in 15s shake;
}

.chrome-icon, .firefox-icon {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: $icon;
  margin-bottom: 10px;
  color: $pink;
  animation: .001s 20 normal ease-in 25s shake;
}

.content-text {
  font-size: $title-1;
  padding: 10px;
  color: $pink;
  animation: .001s 20 normal ease-in 40s shake;
}

.made-by {
  padding-bottom: 80px;
  font-size: $made-by;
  font-weight: 100;
  color: $pink;
  animation: 2s 1 normal ease-in forwards 5.5s fade;
  opacity: 0;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes shake {
  from {
    transform: translateY(-15px);
  }
  to {
    transform: translateY(0);
  }
}