/* Tomorrow Night Darkly */

:root {
  --accent-main: #b294bb !important;
  --accent-secondary: #c6c6c6 !important;
  --accent-disabled: rgb(255, 255, 255, .1) !important;
  --accent-border: rgb(255, 255, 255, .1) !important;
  --bg-main: #202020 !important;
  --accent-transparent: transparent !important;
  --color-notifications-row-bg: #202020 !important;
  --color-canvas-default: #202020 !important;
  --color-canvas-subtle: #202020 !important;
  --color-canvas-subtle: #1a1a1a !important;
  --color-accent-subtle: #1a1a1a !important;
  --color-accent-emphasis: #b294bb !important;
  --rgh-heat-color: #b294bb !important;
  --color-primer-border-active: #b294bb !important;
  --color-btn-primary-hover-bg: transparent !important;
  --color-btn-primary-bg: none !important;
  --color-btn-primary-icon: #c6c6c6 !important;
  --color-canvas-overlay: #202020 !important;
  --color-btn-bg: #202020 !important;
  --color-btn-outline-disabled-bg: #202020 !important;
  --color-calendar-graph-day-L1-bg: #b294bb57 !important;
  --color-calendar-graph-day-L2-bg: #b294bb9c !important;
  --color-calendar-graph-day-L3-bg: #b294bbd4 !important;
  --color-calendar-graph-day-L4-bg: #b294bb !important;
  --color-calendar-graph-day-border: transparent !important;
  --color-calendar-graph-day-L1-border: transparent !important;
  --color-calendar-graph-day-L2-border: transparent !important;
  --color-calendar-graph-day-L3-border: transparent !important;
  --color-calendar-graph-day-L4-border: transparent !important;
  --color-avatar-bg: transparent !important;
  --color-avatar-border: transparent !important;
  --color-fg-on-emphasis: #202020 !important;
  --fgColor-default: #c6c6c6 !important;
  --color-fg-default: #c6c6c6 !important;
  --color-accent-fg: #c6c6c6 !important;
  --color-btn-text: #c6c6c6 !important;
  --color-btn-primary-text: #c6c6c6 !important;
  --color-btn-outline-disabled-text: rgb(255, 255, 255, .1) !important;
  --color-btn-primary-disabled-text: rgb(255, 255, 255, .1) !important;
  --color-btn-border: rgb(255, 255, 255, .1) !important;
  --color-border-default: rgb(255, 255, 255, .1) !important;
  --color-accent-muted: rgb(255, 255, 255, .1) !important;
  --color-border-muted: rgb(255, 255, 255, .1) !important;
  --color-btn-hover-border: rgb(255, 255, 255, .1) !important;
  --color-btn-primary-disabled-bg: transparent !important;
  --color-btn-hover-bg: transparent !important;
  --color-neutral-emphasis: transparent !important;
  --color-shadow-medium: transparent !important;
  --color-fg-muted: #7d7d7d !important;
  --color-canvas-inset: #202020 !important;
  --color-neutral-muted: rgb(0, 0, 0, .5) !important;
  --color-workflow-card-bg: #202020 !important;
  --color-btn-active-bg: #202020 !important;
  --color-btn-active-border: #c6c6c6 !important;
  /* daily contribution 0 background */
  --color-calendar-graph-day-bg: #2e2e2e !important;
  /* daily contribution info background */
  --color-neutral-emphasis-plus: #c6c6c6 !important;
}

::selection {
  background: var(--accent-main) !important; /* WebKit/Blink Browsers */
  opacity: 100%;
}

::-moz-selection {
  background: var(--accent-main) !important; /* Gecko Browsers */
}

.AppHeader-button--hasIndicator::before {
  background: var(--accent-main) !important;
}

.js-highlight-blob {
  fill: var(--color-calendar-graph-day-L2-bg);
  stroke: var(--color-calendar-graph-day-L2-bg);
}

.turbo-progress-bar {
  background: #b294bb !important;
}


.AppHeader,
.UnderlineNav {
  box-shadow: none !important;
}

.subnav-item.selected {
  color: var(--accent-secondary) !important;
  background-color: var(--accent-transparent) !important;
}

.filter-item.selected {
  border: none !important;
  color: var(--accent-main) !important;
  background-color: var(--accent-transparent) !important;
}

input[type="checkbox"] {
  accent-color: var(--accent-main);
}

.achievement-badge-sidebar {
  opacity: .8 !important;
}

.octicon-calendar,
.octicon-stopwatch,
rect[style*='#gradient-'],
.hx_color-icon-directory {
  fill: var(--accent-main);
}

a,
.btn {
  text-decoration: none !important;
  color: var(--accent-main);
}

a:hover,
.btn:hover {
  text-decoration: none !important;
  color: var(--color-calendar-graph-day-L3-bg);
}

.btn:disabled:hover,
.btn[aria-disabled=true] {
  text-decoration: none !important;
  color: var(--accent-disabled);
}

.application-main,
.Box,
.Box-row--focus-gray.navigation-focus,
.BaseStyles__Base-sc-nfjs56-0,
.Box-sc-g0xbh4-0,
.types__StyledButton-sc-ws60qy-0,
.TextInputWrapper__TextInputBaseWrapper-sc-1mqhpbi-0,
body,
.flex-auto,
.Details-content--shown,
.form-control,
.Box-header {
  background-color: var(--bg-main);
}

.Details-content--shown,
.Box-row {
  box-shadow: none !important;
  border-color: var(--color-btn-border);
}
